html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: $darkBlue url('#{$images}bg.jpg') no-repeat center / cover;
  background-attachment: fixed;
  color: $black;
  font-family: $montserrat;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root > div {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;

  @media #{$mobile} {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0;
    height: 100%;
  }
}

::selection {
  color: $white;
  background: $blue;
}

h1,
h2,
h3 {
  color: $black;
  font-family: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:active,
a:focus {
  color: $blue;
  text-decoration: none;
}

select {
  font-family: inherit;
  outline: 0;
}

nav,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

section.home, section.auction {
  height: calc(100vh - 60px);
  align-items: center;

  @media #{$mobile} {
    height: auto;
  }
}

section.home {
  @media #{$desktop} {
    padding: 0 30px;
  }

  @media #{$tablet} {
    padding: 0 30px 100px;
  }

  @media #{$mobile} {
    flex-wrap: wrap;
    height: auto;
  }
}

.noScroll {
  overflow: hidden;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  background: $greyLight;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto auto 0;

  > p {
    color: $grey;
  }

  p > a {
    color: $blue;
  }
}
