html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: $darkBlue;
  height: 100vh;
  background: url('#{$images}bg.jpg') no-repeat center / cover;
  color: $black;
  font-family: $montserrat;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$tablet} {
  }

  @media #{$mobile} {
  }
}

::selection{
  color: $white;
  background: $blue;
}

h1,
h2,
h3 {
  color: $black;
  font-family: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:active,
a:focus {
  // color: $blue;
  text-decoration: none;
}

select {
  font-family: inherit;
  outline: 0;
}

nav,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

body > section {
  height: calc(100vh - 60px);
  align-items: center;

    @media #{$tablet} {
      padding: 0 35px;
    }

    @media #{$mobile} {
      max-width: 100%;
      flex-wrap: wrap;
      padding: 25px 0 0;
      height: 100%;
    }
}

.noScroll {
  overflow: hidden;
}
