html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: $whiteShade;
  color: $greyText;
  font-family: $verdana;
  font-size: 10px;
  line-height: 16px;
  margin: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow: hidden;
}

#root div.appFlex {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

::selection {
  color: $whiteShade;
  background: $blue;
}

h1,
h2,
h3 {
  color: $black;
  font-family: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:active,
a:focus {
  color: $blue;
  text-decoration: none;
}

select {
  font-family: inherit;
  outline: 0;
}

nav,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

section.home, section.auction {
  align-items: center;

  @media #{$mobile} {
    height: auto;
  }
}

section.home {
  margin: 20px auto;

  @media #{$desktop} {
    padding: 0 30px 90px;
  }

  @media #{$tablet} {
    padding: 0 30px 100px;
  }

  @media #{$mobile} {
    flex-wrap: wrap;
    height: auto;

    margin-top: 136px;
    // offlineBanner covers
    // could be margin-top: 200px;
  }
}

section.auction {
  margin: 40px auto 20px;
}

.noScroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.noScrollAll {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

footer {
  position: relative;
  width: 100%;
}
