// 300 - Light
// @font-face {
//   font-family: 'Montserrat';
//   src:
//     url("#{$fonts}Montserrat-Light.woff2") format("woff2"),
//     url("#{$fonts}Montserrat-Light.woff") format("woff");
//   font-weight: $lighter;
//   font-style: normal;
// }

// 500 - normal
// @font-face {
//   font-family: 'Montserrat';
//   src:
//     url("#{$fonts}Montserrat-500.woff2") format("woff2"),
//     url("#{$fonts}Montserrat-500.woff") format("woff");
//   font-weight: $normal;
//   font-style: normal;
// }

// 600 - Bold
// @font-face {
//   font-family: 'Montserrat';
//   src:
//     url("#{$fonts}Montserrat-600.woff2") format("woff2"),
//     url("#{$fonts}Montserrat-600.woff") format("woff");
//   font-weight: $bold;
//   font-style: normal;
// }

@font-face {
  font-family: 'SpaceMono';
  src: url("#{$brandFonts}SpaceMono-Regular.woff2") format("woff2"),
    url("#{$brandFonts}SpaceMono-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url("#{$brandFonts}SpaceMono-Bold.woff2") format("woff2"),
    url("#{$brandFonts}SpaceMono-Bold.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "LibreBarcode128Text-Regular";
  src: url('#{$fonts}/other/LibreBarcode128Text-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Megrim";
  src: url('#{$fonts}/other/Megrim.ttf') format('truetype');
}
