@font-face {
  font-family: 'Montserrat';
  src: url("#{$fonts}Montserrat-Light.woff2") format("woff2"),
       url("#{$fonts}Montserrat-Light.woff") format("woff");
  font-weight: lighter;
  font-style: normal
}

@font-face {
  font-family: 'Montserrat';
  src: url("#{$fonts}Montserrat-Regular.woff2") format("woff2"),
       url("#{$fonts}Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Montserrat';
  src: url("#{$fonts}Montserrat-Medium.woff2") format("woff2"),
       url("#{$fonts}Montserrat-Medium.woff") format("woff");
  font-weight: bold;
  font-style: normal
}