// 300 - Light
@font-face {
  font-family: 'Montserrat';
  src:
    url("#{$fonts}Montserrat-Light.woff2") format("woff2"),
    url("#{$fonts}Montserrat-Light.woff") format("woff");
  font-weight: $lighter;
  font-style: normal;
}

// 500 - normal
@font-face {
  font-family: 'Montserrat';
  src:
    url("#{$fonts}Montserrat-500.woff2") format("woff2"),
    url("#{$fonts}Montserrat-500.woff") format("woff");
  font-weight: $normal;
  font-style: normal;
}

// 600 - Bold
@font-face {
  font-family: 'Montserrat';
  src:
    url("#{$fonts}Montserrat-600.woff2") format("woff2"),
    url("#{$fonts}Montserrat-600.woff") format("woff");
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: "Still_Time";
  src: url('#{$fonts}still time.ttf') format('truetype');
}

@font-face {
  font-family: "DEATHSTAR";
  src: url('#{$fonts}Death Star.otf') format('opentype');
}
