.buttonCTA,
a.buttonCTA {
  background: $white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  min-height: 56px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  color: $darkBlue;
  letter-spacing: 0;
  line-height: 1;
  vertical-align: middle;
  will-change: box-shadow;
  transition: box-shadow .25s ease-in-out;
  cursor: pointer;
  outline: 0;
  margin: auto;
  border: 0;
  font-weight: $bold;

  &:hover {
    box-shadow: 0 6px 14px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.15);
  }

  &.buttonCTA-disabled {
    background: $greyText;
    color: $white;
    text-align: center;
    pointer-events: none;
    opacity: .5;
  }

  &.blue {
    background: $blue;
    color: $white;
    text-align: center;
  }

  > i {
    margin: 0 0 0 5px;
    display: inline-block;
  }
}

.buttonExit {
  display: block;
  font-size: 40px;
  font-family: $arial;
  color: $greyBorder;
  background: 0;
  border: 0;
  cursor: pointer;
  outline: 0;
  will-change: color;
  transition: color .25s ease;

  &:hover {
    color: $greyText;
  }

  &::after {
    content: $x;
    display: block;
    font-family: inherit;
    font-size: inherit;
  }
}

.buttonReset {
  color: $greyTextDark;
  margin: 0 auto 1em;
  font-size: .9em;
  font-family: inherit;
  border: 0;
  outline: 0;
  cursor: pointer;
  white-space: nowrap;
  background: #f2f3f5;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all .3s ease-in-out;

  &:hover {
    background: $darkBlue;
    color: $white;
    text-decoration: none;
  }

  .tokenPair & {
    position: absolute;
    bottom: 100px;
  }
}

.buttonPrev {
  display: block;
  position: absolute;
  top: 0;
  left: 15px;
  height: 18px;
  width: 24px;
  border: 0;
  cursor: pointer;
  outline: 0;
  opacity: .5;
  will-change: opacity, transform;
  transition: transform .25s ease-in-out, opacity .25s ease-in-out;
  bottom: 0;
  margin: auto;
  background: url('#{$images}arrowPrev.svg') no-repeat center / contain;

  &:hover {
    opacity: 1;
    transform: translateX(-1px);
  }
}

#ipfsDownload {
  font-size: 14px;
  margin: 0 0 0 10px;
  width: 35%;
  max-width: 112px;
}
