{
  "presets": [
    ["@babel/preset-env", { "modules": "commonjs" }],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [["transform-remove-console", { "exclude": [ "error", "warn"] }]]
    }
  }
}