.contentPage {
  display: flex;
  flex-flow: column nowrap;
  flex: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  width: 100%;
  padding: 0;
  background: $white;
  box-sizing: border-box;

  @media #{$mobile} {
    margin: -1px 0 0;
  }

  a:link, a:visited, a:active, a:focus {
    color: $blue;
  }

  > article {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 40px 20px 80px;
  }

  > article > h1 {
    font-size: 32px;
    font-weight: $bold;
    color: $darkBlue;
    letter-spacing: 0;
    text-align: center;
    line-height: 1;
    padding: 0 0 25px;

    @media #{$mobile} {
      padding: 0;
    }
  }

  > article > h2 {
    font-weight: $bold;
    font-size: 18px;
    margin: 40px auto 10px;
    color: $darkBlue;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: left;
    line-height: 2;

    @media #{$mobile} {
      line-height: 1.3;
    }
  }

  table {
    border: 0;
    border-spacing: 0;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 0;
    text-align: left;
  }

  table > thead {
    background: $blue;
    color: $white;
    line-height: 1.4;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
  }

  table > thead > tr > th {
    padding: 10px;
    box-sizing: border-box;
    font-weight: $normal;
  }

  table > tbody > tr > td {
    padding: 10px;
    border: 1px solid $greyBorder;
  }

  table > tbody > tr:first-of-type > td {
    border-top: 0;
  }

  h3 {
    font-weight: $normal;
    font-size: 18px;
    padding: 0 40px 0 0;
    color: $blue;
    line-height: 1.5;
    transition: all .2s ease-in-out;

    @media #{$mobile} {
      font-size: 16px;
      line-height: 1.2;
    }
  }

  section p,
  section ul,
  section ol {
    letter-spacing: 0;
    margin: 0;
    color: $greyTextDark;
    font-weight: $normal;
    font-size: 1em;
    line-height: 1.5;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
  }

  section ul {
    list-style: square;
    padding: 6px 0 12px 28px;
    font-size: .9em;
  }

  section ol {
    position: relative;
    padding: 0;
    margin: 20px auto 0;
    list-style: none;

    > li {
      counter-increment: item;
      padding: 0 0 0 2.3em;
      margin: 0 0 1.1em;
      position: relative;
    }

    > li::before {
      content: counter(item);
      color: $white;
      background: $blue;
      width: 25px;
      height: 25px;
      text-align: center;
      display: block;
      border-radius: 100%;
      line-height: 25px;
      font-size: .9em;
      box-sizing: border-box;
      padding: 0;
      font-weight: $normal;
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
    }
  }

  section a {
    color: $white;
    text-decoration: underline;
  }

  section.drawer {
    position: relative;
    margin: 0 0 5px;
    display: flex;
    flex-wrap: wrap;
    text-transform: none;
    padding: 14px 0 0;
    border-bottom: 1px solid $greyLight;
    overflow: hidden;

    &.active {
      border-bottom: 4px solid rgba(0, 114, 207, 0.16);
    }

    > span {
      visibility: hidden;
      opacity: 0;
      height: 0;
      transition: all .2s ease-in-out;
      margin: 0;
      color: $greyTextDark;
      font-weight: $normal;
      font-size: 14px;
      line-height: 1.7;
      width: 100%;
      background: rgba(0, 114, 207, 0.07);
      padding: 20px 20px 0;
      box-sizing: border-box;
    }

    &.active > span {
      visibility: visible;
      height: auto;
      margin: 15px auto 0;
      padding: 20px;
      opacity: 1;
      display: block;
    }

    h3 {
      cursor: pointer;
      width: 100%;
    }

    h3::after {
      content: '';
      position: absolute;
      right: 12px;
      top: 20px;
      border: solid $blue;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      transition: all .2s ease-in-out;
      opacity: .5;
    }

    &.active h3,
    &:hover h3 {
      color: $darkBlue;
      font-weight: $bold;

      &::after {
        opacity: 1;
        border: solid $darkBlue;
        border-width: 0 3px 3px 0;
        transform: rotate(-135deg);
      }
    }
  } // end section.drawer

  section.content {
    position: relative;
    margin: 0 0 5px;
    padding: 25px 0 0;

    h3 {
      margin: 40px auto 10px;
    }

    p {
      color: $greyTextDark;
      font-weight: $normal;
      font-size: 1.1em;
      line-height: 1.7;
      width: 100%;
      text-align: left;
    }
  }
} // end .contentPage
