.mgn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-flow: column nowrap;
  margin: 2rem 0;

  $sec-width: 650px;
  $sides-shadow: inset 15px -2px 16px -19px grey, inset -15px -2px 16px -19px grey;
  $secondary-shadow-color: #cfbbbb6e;

  .mgn-title {
    font-size: 3.2em;
    font-weight: 500;
    color: #00447b;
    font-family: "SpaceMono", verdana;
    letter-spacing: 0;
    text-align: center;
    line-height: 1;

    @media only screen and (max-width: 736px) {
      margin-top: 50px;
    }

    &-info {
      font-size: 2.3em;
      text-align: center;
      line-height: 1.1;
    }
  }

  .MGN {
    border-radius: 10px;
    min-width: $sec-width;
    max-width: 80%;
    box-shadow:
      0 15px 35px rgba(50, 50, 93, 0.1),
      0 5px 15px rgba(0, 0, 0, 0.07);
    background: #fff;
    font-size: 1.2rem;
    // padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info {
    font-size: 0.9rem;
    padding: 2em;
    margin: 0;
    box-shadow: 0 0 4px 5px inset $secondary-shadow-color, $sides-shadow;
    border-radius: 10px 10px 0 0;
    align-self: stretch;

    &-text {
      margin: 0.6em;
    }
  }

  .misc {
    align-self: stretch;
    margin: 0;
    padding: 1em;
    font-size: 0.9rem;
    box-shadow: $sides-shadow, 0 -4px 9px 0 inset $secondary-shadow-color;
    border-radius: 0 0 10px 10px;
  }

  .displays {
    display: grid;
    padding: 0;
    width: calc(100% + 0.6em);
    box-shadow: 0 11px 4px -4px $secondary-shadow-color;
    grid-template-columns: repeat(auto-fit, minmax($sec-width / 2 + 3px, 1fr));
    grid-gap: 10px;
  }

  .display-balance {
    background: #fdfdfd;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex: 1 1 48%;
    flex-grow: 1;
    box-sizing: border-box;

    input {
      max-width: 100%;

      &:invalid {
        background-color: pink;
      }
    }

    > span {
      margin: 0.3em 0;
    }

    > span:nth-child(2) {
      margin-top: 1em;
    }
  }

  .mgn-controls {
    $border-size: 3px;

    margin: 0;
    padding: 0;
    counter-reset: step;
    box-shadow: $sides-shadow;
    align-self: stretch;

    $bottom-shadow: inset 0 0 0 2px #80808021;

    > .bottom {
      padding: 1em;
      font-size: 0.9em;

      margin-bottom: 0;
      box-shadow: $bottom-shadow;
      margin-top: 0;
    }

    > .element {
      box-shadow: $bottom-shadow;
      display: flex;

      > *:first-child {
        flex-grow: 1;
      }

      &::before {
        counter-increment: step;
        content: counter(step);
        width: 4em;
        text-align: center;
        margin: auto;
        flex-shrink: 0;
      }
    }

    .control-wrap {
      display: grid;
      grid-template-areas: "main btn" "desc btn";
      grid-template-columns: minmax(min-content, 80%) 1fr;
      min-height: 4em;
      align-items: center;
    }

    .control-main {
      grid-area: main;
      font-weight: bold;
      letter-spacing: 3px;
      text-shadow: 1px 1px 2px grey;
      color: #97a2ab;
      align-self: end;
    }

    .control-desc {
      grid-area: desc;
      font-size: 1rem;
    }

    .control-btn {
      grid-area: btn;
      margin: 0;
      align-self: stretch;
      font-size: 1.2em;
    }

    .control-info {
      line-height: 1.1;
      margin: 1em 0;
      padding-right: 0.5em;

      > p {
        margin: 0;
      }
    }
  }
}
