.home {
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  font-family: inherit;

  @media #{$tablet-portrait} {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    padding: 25px 0 0;
    height: auto;
  }

  h1 {
    font-family: inherit;
    font-weight: $bold;
    font-size: 38px;
    color: $white;
    line-height: 1.2;
    margin: 0 0 30px;
    display: block;

    @media #{$tablet} {
      font-size: 25px;
      // text-align: center;
    }

    @media #{$tablet-portrait} {
      font-size: 28px;
      width: 100%;
      margin: 0 0 15px;
    }

    @media #{$mobile} {
      font-size: 23px;
      width: 100%;
      text-align: center;
      margin: 0 auto 15px;
    }
  }

  > div {
    position: relative;

    &.intro {
      flex: 1;
      margin-right: 120px;
      align-content: center;
      display: flex;
      flex-wrap: wrap;

      @media #{$desktop} {
        margin-right: 60px;
      }

      ul, ol {
        list-style: none;
        position: relative;
        padding: 0;

        > li {
          counter-increment: item;
          position: relative;
          padding: 0 0 0 3em;
          margin: 0 0 1.5em;
          display: flex;
          font-weight: $bold;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: flex-start;

          @media #{$mobile} {
            text-align: left;
          }

          &:last-of-type {
            margin: 0;
          }
        }

        > li::before {
          content: counter(item);
          color: $white;
          background: $blue;
          width: 35px;
          height: 35px;
          text-align: center;
          display: block;
          border-radius: 100%;
          line-height: 35px;
          font-size: 1em;
          box-sizing: border-box;
          padding: 0;
          font-weight: $normal;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          margin: auto;
        }
      }

      @media #{$tablet} {
        margin-right: 40px;
      }

      @media #{$tablet-portrait} {
        flex-basis: 100%;
        width: 100%;
        text-align: center;
        margin: 50px auto 0;
      }

      @media #{$mobile} {
        margin: 0 auto 80px;
        flex-basis: 100%;
        order: 2;
      }
    }

    // Right module (coin picker)
    &:not(.intro) {
      flex: 0 0 550px;
      max-height: 550px;
      height: auto;
      padding: 25px 15px;
      box-sizing: border-box;
      border-radius: 3px;

      @media #{$tablet} {
        flex: 1;
        margin: 0 auto;
      }

      @media #{$tablet-portrait} {
        margin: 35px auto 0;
        order: -1;
      }

      @media #{$mobile} {
        max-width: 85%;
        margin: 0 auto 40px;
        height: auto;
        flex: 1;
        min-height: initial;
        order: 1;
      }
    }

    &.noWallet {
      @media #{$mobile} {
        margin: 25px auto 40px;
      }
    }

    > p, > .textSquareInnerContainer {
      font-family: inherit;
      font-size: 16px;
      color: $white;
      line-height: 1.4;
      font-weight: $lighter;

      @media #{$tablet} {
        // text-align: center;
        font-size: 16px;
        width: 100%;
      }

      @media #{$mobile} {
        display: block;
        width: 100%;
        font-size: 15px;
        text-align: center;
        padding: 0 20px;
      }
    }
  } // end of > div

  .icon-walletUnlock {
    display: block;
    width: 125px;
    height: 104px;
    margin: 0 auto;
    flex-basis: 100%;
  }
} // end of .home

// state: no wallet connected
.noWallet {
  background: rgba(255,255,255,0.08);
  min-height: 440px;
  border: 2px dotted $white;
  padding: 0 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  h2 {
    width: 100%;
    font-family: inherit;
    font-weight: $normal;
    font-size: 22px;
    color: $white;
    line-height: 1.2;
    margin: 0 auto 30px;

    @media #{$mobile} {
      font-size: 18px;

      > strong {
        display: block;
      }
    }
  }

  .buttonCTA {
    margin: 40px auto 0;

    @media #{$mobile} {
      margin: 0;
      font-size: 16px;
    }
  }
}

.tokenPicker,
.home > div.tokenPicker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  border: 2px solid transparent;
  background: $white;
  min-height: 460px;

  @media #{$mobile} {
    max-width: 100%;
    border-radius: 0;
    margin: 0 auto 40px;
    padding: 0 10px;

    .tokenItem {
      padding: 5px;
    }
  }
}

.tokenIntro,
.tokenUpload {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-content: center;

  @media #{$mobile} {
    align-content: flex-start;
    padding: 0 0 25px;
    height: auto;
  }

  > h2 {
    font-family: inherit;
    margin-top: auto;
    font-size: 24px;
    font-weight: $bold;
    color: $darkBlue;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    width: 100%;

    @media #{$mobile} {
      line-height: 1;
    }
  }

  > p {
    font-size: 14px;
    line-height: 1.5;
    max-width: 80%;
    margin: 15px auto 25px;
    text-align: center;
    color: $grey;
  }

  > form {
    width: 85.5%;
    height: 56px;
    display: flex;
    margin: 0 auto;
    border-radius: 3px;
    overflow: hidden;

    > input[type="file"] {
      background: $greyLight;
      padding: 20px 15px;
      margin: 0 auto;
      width: 100%;
    }

    > input[type="submit"] {
      height: 100%;
    }
  }

  .icon-tokenUpload {
    display: block;
    height: 56px;
    width: 100%;
    margin: 0 auto 20px;
  }

  .buttonCTA {
    width: 80%;
  }
}

.tokenUpload {
  position: absolute;
  background: $white;
  z-index: 10;
}

.showTokenUpload {
  width: 100%;
  margin: 15px auto 0;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

.tokenPair {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  text-align: center;
  position: relative;
  margin: 5px auto 10px;

  @media #{$desktop} {
    padding: 25px 0;
  }

  &-switch {
    display: block;
    position: absolute;
    margin: auto;
    left: 40%;
    right: 40%;
    height: 49px;
    top: 100px;
    background: url('#{$images}arrowSides.svg') no-repeat center / 49px;
    transition: transform .15s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-1px);
      background-color: white;
    }
  }

  .auctionContainer & {
    margin-bottom: 10px;
    padding: 15px;
    box-sizing: border-box;
  }

  // &::before {
  //   .auctionContainer & {
  //     content: " ";
  //     display: block;
  //     position: absolute;
  //     margin: auto;
  //     left: 0;
  //     right: 0;
  //     height: 49px;
  //     background: url('#{$images}arrowSidesRight.svg') no-repeat center / 60px;
  //     top: 70px;
  //   }

  //   @media #{$mobile} {
  //     height: 30px;
  //     top: 85px;
  //     background-size: 30px;
  //   }
  // }
}

.tokenPairSwitcher {
  display: block;
  margin: auto 0;
  // position: absolute;
  // top: 100px;
  // right: 0;
  // left: 0;
  height: 70px;
  width: 70px;
  cursor: pointer;
  border-radius: 60px;
  will-change: box-shadow, transform;
  transition: box-shadow, transform .35s ease, -webkit-box-shadow, -webkit-transform .35s ease;
  background: url('#{$images}arrowSides.svg') no-repeat center / 49px;

  &:hover {
    transform: rotateZ(180deg);
  }

  @media #{$mobile} {
    // height: 30px;
    // top: 85px;
    height: 46px;
    background-size: 30px;
    width: 46px;
    margin: 70px 0 auto;
  }
}

.noTokenList {
  > span {
    background: $yellow;
    color: $darkRed;
    position: absolute;
    top: 22%;
    width: 40%;
    padding: 25px;
    font-size: 14px;
    border-radius: 3px;
    line-height: 1.4;
    box-shadow: 0 0 20px 10px rgba(51, 51, 51, 0.08);
  }

  > span > a {
    color: $darkRed;
    font-weight: $bold;
    text-decoration: underline;
  }
}

.tokenItem {
  flex: 0 0 33%;
  cursor: pointer;
  margin: 8px 0;
  padding: 20px;
  border-radius: 2px;
  will-change: box-shadow, transform;
  transition: box-shadow, transform .15s ease;
  text-align: center;
  text-transform: uppercase;

  // Disable interaction when no token list has been suplied yet:
  .noTokenList & {
    pointer-events: none;
    opacity: 0.25;
  }

  // Alternate styles for when the `tokenOverlay` and the `auctionContainer` are the parents
  .tokenOverlay &,
  .auctionContainer & {
    box-sizing: border-box;
    flex: 1 1 31%;
    max-width: 33%;
    max-height: 300px;
    margin: 5px;
    padding: 15px;
    align-self: stretch;

    @media #{$tablet} {
      flex-basis: 23.5%;
    }

    @media #{$mobile} {
      max-width: calc(50% - 10px);
      flex-basis: calc(50% - 10px);
      padding: 0;
    }
  }

  .tokenOverlay & {
    border: 1px solid $greyBorder;
  }

  &:not(.disabled):hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);

    @media #{$mobile} {
      box-shadow: none;
    }

    .tokenOverlay & {
      border: 1px solid $blue;
    }

    .tokenOverlay &,
    .auctionContainer & {
      > big {
        color: $darkBlue;
      }

      > code {
        background: $blue;
      }
    }
  }

  &:not(.disabled):hover > [data-coin] {
    border: 1px solid transparent;
  }

  // When a listed token is not available we grey it out
  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  > strong {
    font-family: inherit;
    font-size: 14px;
    color: $darkBlue;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: $bold;
    width: 100%;
    display: block;
    text-align: center;
  }

  > big {
    font-family: inherit;
    font-size: 16px;
    color: $darkBlue;
    letter-spacing: 0;
    line-height: 1.4;
    margin: 0 5px 0 0;
    vertical-align: middle;

    .tokenOverlay &,
    .auctionContainer & {
      will-change: color;
      transition: color .15s ease;
      color: $greyText;
      text-align: center;
      line-height: 1.3;
    }
  }

  > code {
    background: $blue;
    border-radius: 2px;
    font-family: inherit;
    font-weight: $bold;
    font-size: 10px;
    color: $white;
    letter-spacing: 1px;
    line-height: 1;
    padding: 4px 6px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;

    .tokenOverlay &,
    .auctionContainer & {
      will-change: background;
      transition: background .15s ease;
      background: $greyText;
    }

    &::after {
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0;
      border-color: $darkBlue transparent transparent transparent;
      position: absolute;
      right: -14px;
      bottom: 8px;

      .tokenOverlay & {
        content: none;
      }
    }
  }

  > small {
    font-family: inherit;
    font-size: 9px;
    color: $greyText;
    letter-spacing: 1.5px;
    line-height: 16px;
    width: 100%;
    display: block;
    margin: 10px auto 2px;

    @media #{$mobile} {
      line-height: 1;
      margin: 10px auto 5px;
    }
  }

  > p {
    font-family: inherit;
    font-weight: $bold;
    font-size: 13px;
    color: $blue;
    word-wrap: break-word;
    letter-spacing: 0.5px;
    line-height: 1;
    margin: 0;

    &.noBalance {
      color: $greyText;
    }

    &.noMGN {
      display: none;
    }
  }

  > [data-coin] {
    .tokenOverlay &,
    .auctionContainer & {
      height: 80px;
      width: 80px;
      background-size: 35px auto;
    }
  }
}

.pair-noMGN {
  background: $yellow;
  color: $darkRed;
  padding: 8px 5px;
  width: 100%;
  text-align: center;
}

.tokenOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  z-index: 99;
  outline: 0;

  @media #{$tablet} {
    position: fixed;
  }

  @media #{$mobile} {
    position: fixed;
  }

  > .tokenList {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    position: absolute;
    top: 80px;
    height: calc(100% - 80px);
    padding: 10px 5px 50px;
    box-sizing: border-box;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .noMGN {
      display: block;
      width: 100%;
      background: $yellow;
      color: $darkRed;
      font-size: 9px;
      padding: 6px;
      margin: 10px auto 0;
      line-height: 1.4;
      letter-spacing: 1px;
      font-weight: $normal;
      box-sizing: border-box;
    }
  }

  > .tokenList::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $greyBorder;
  }

  > .tokenList::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
    background-color: $greyBorder;
  }

  > .tokenList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $greyText;
  }
}

.tokenOverlayHeader {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background: $white;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(50,50,93,.1);
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  box-sizing: border-box;

  .buttonExit {
    position: relative;
    flex: 0 1 auto;
    line-height: 1;
    margin: 0 10px;

    @media #{$mobile} {
      flex: 0;
      position: relative;
      top: initial;
      right: initial;
      line-height: 1;
      height: auto;
      margin: 0 10px;
      width: auto;
    }
  }
}

.tokenSearch {
  height: 44px;
  // width: 340px;
  width: auto;
  flex: 1 1 auto;
  border: 1px solid $greyBorder;
  font-family: inherit;
  font-size: 16px;
  color: $greyText;
  letter-spacing: 0;
  padding: 12px;
  border-radius: 2px;
  outline: 0;
  box-sizing: border-box;

  @media #{$mobile} {
    width: auto;
    flex: 1 1 auto;
  }

  &::placeholder {
    will-change: color;
    transition: color .15s ease;
    color: $greyText;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.topAuctions {
  position: absolute;
  bottom: -90px;
  text-align: center;
  padding: 0;
  left: 0;
  right: 0;
  margin: auto;

  @media #{$tablet-portrait} {
    position: relative;
    bottom: initial;
    left: initial;
    right: initial;
    margin: 25px auto;
  }

  @media #{$mobile} {
    bottom: -150px;
  }

  h3 {
    font-family: inherit;
    font-size: 13px;
    color: $white;
    letter-spacing: 4px;
    line-height: 2.5;
  }

  > ul {
    display: flex;
    flex-flow: row nowrap;
    color: $white;
    box-sizing: border-box;
    margin: 10px auto 0;

    @media #{$tablet-portrait} {
      flex-wrap: wrap;
    }
  }

  > ul > li {
    color: inherit;
    opacity: .8;
    flex: 0;
    flex-basis: 20%;
    will-change: opacity;
    transition: opacity .3s ease-in-out;
    cursor: pointer;

    @media #{$tablet-portrait} {
      flex-basis: 33%;
      margin: 0 0 10px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
