.disclaimer {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  display: table;

  a {
    color: $blue;
    text-decoration: underline;
  }

  > span {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: $white;
    margin: 25px auto;
    align-items: center;
  }

  > span > img {
    margin: 0 15px 0 0;
  }

  > span > h1 {
    font-weight: $bold;
    font-family: $font;
    font-size: 2.3em;
    color: $blackShade;
    letter-spacing: 0;
    line-height: 1;
  }

  > div {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    // border: 2px solid transparent;
    border: none;
    background: $white;
    min-height: 460px;
    border-radius: 3px;
    width: 100%;
    margin: 25px auto;
    display: table;
    box-sizing: border-box;
    padding: 0;
  }

  > div > h2 {
    font-size: 1.6em;
    color: $brandPrimary;
    text-align: center;
    line-height: 1;
    margin: 25px auto;
    font-weight: bold;
  }

  > div > form {
    padding: 0 50px 15px;
  }

  > div > form .disclaimerBox {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    margin: 0 0 25px;
  }

  > div > form label {
    font-size: 1.3em;
    color: $greyText;
    letter-spacing: 0;
    line-height: 1.5;
    flex: 1;
    box-sizing: border-box;

    > b {
      font-weight: bold;
    }
  }

  > div > form input {
    flex: 0 1 auto;
    margin: 4px 0 0;
    box-sizing: border-box;
  }

  > div > form input:checked + label {
    color: $brandPrimary;
  }
}

.disclaimerTextbox {
  height: 200px;
  width: 100%;
  overflow: auto;
  background: #f0f2f6;
  border-radius: 2px;
  overflow-y: scroll;
  padding: 0 15px;
  box-sizing: border-box;
  color: $greyText;
  line-height: 1.5;
  font-size: 1.3em;
  margin: -18px 0 18px;

  > p, span {
    color: inherit;
    line-height: inherit;
  }

  .scrollableDisclaimerList {
    list-style: initial;
    margin: 0 0 0 20px;
    padding: initial;

    > li:last-of-type {
      padding-bottom: 10px;
    }
  }
}

.disclaimerCookiePolicy {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: column;
  border-top: 1px solid $grey;
  padding: 10px 0 0;

  > div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    > div {
      display: flex;

      > div.disclaimerBoxCookie {
        display: flex;
        margin: auto 10px auto 0;
        padding: 2px 0;
        width: auto;
      }
    }
  }

  > div > p {
    font-size: 1.3em;
  }
}

.disclaimerFooterActions {
  display: block;
  width: 100%;
  background: #f0f2f6;
  padding: 10px;
  box-sizing: border-box;

  > .buttonCTA {
    background: $blue;
    color: $white;
    max-width: 260px;
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
    padding: 18px;
    width: 100%;

    &.buttonCTA-disabled {
      background: $grey;
      color: $white;
      padding: 18px;
      font-size: 20px;
      text-align: center;
      pointer-events: none;
    }
  }
}

// .modalDisclaimer {
//   background: #154471b0;
//   border-radius: 40px;
//   font-size: 12px;
//   margin: 20px auto 0;
//   padding: 2px 0;
//   width: 30%;
// }

.modalDisclaimer {
  background: #2b2f37;
  border-radius: 40px;
  font-size: 12px;
  margin: 20px auto;
  padding: 2px 0;
  width: 40%;
  text-align: center;
  color: white;
}

.disclaimerError {
  color: $red;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-size: 1.3em;
  font-weight: bold;
  margin: 1em auto;
}

.subText {
  margin-left: 1em;
}

.green {
  color: green !important;
}

.red {
  color: red !important;
}
