@import "./src/styles/core/_variables";
@import "./src/styles/core/_base";
@import "./src/styles/core/_helper";
@import "./src/styles/core/_fonts";

header {
  height: 60px;
  width: 100%;
  background: 0;
  display: flex;
  align-items: center;
  max-width: $max-width;
  margin: 0 auto;
  z-index: 99;

  &.fixedHeader {
    position: fixed;
  }

  @media #{$mobile} {
    position: absolute;
    border-bottom: 1px solid $greyTextDark;
    max-width: 100vw;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto 74px;
    background: $whiteShade;
    border: 0;
  }

  &.solid-background {
    margin: 0 auto;
    background: $whiteShade;
    max-width: initial;
    padding: 0 0 20px;
    width: 100%;

    @media #{$mobile} {
      margin: 0 auto 74px;
      padding: 0 16px;
    }

    > div {
      max-width: $max-width;
    }
  }

  > div {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px auto 0;
    padding: 0 35px;

    @media #{$mobile} {
      justify-content: space-between;
      margin: 0 auto;
      height: 100%;
      align-items: center;
      padding: 0;
    }
  }

  > div > span {
    margin: 0 0 0 15px;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
  }

  > div > .navParent {
    .navShadow {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $blackShade;
      opacity: 0.9;
      height: 100vh;
      width: 100vw;
    }

    .buttonExit {
      position: absolute;
      top: 15px;
      right: 15px;
      height: 40px;
      width: 40px;
    }
  }

  > div > .navParent > nav {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    visibility: hidden;
    width: 240px;
    position: fixed;
    top: 0;
    height: 100%;
    right: 0;
    background: #35373c;
    z-index: 9999;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    will-change: transform, opacity;
    padding: 75px 0 0;
    overflow-y: auto;

    @media #{$tablet} {
      // box-shadow: 0 999px 0 999px rgba(26,73,119,.9);
    }

    @media #{$mobile} {
      width: 100%;
      padding: 75px 12px;
      box-sizing: border-box;
    }

    &.show {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
    }

    > .buttonExit {
      left: 0;
      right: 0;
      margin: auto;
      background: $white;
      width: 100%;
      top: 0;
      height: 54px;
      font-size: 32px;
    }

    > p {
      color: $white;
      text-align: center;
      border-top: 1px solid #61646d;
      width: 100%;
      padding: 20px;
      margin: 20px auto;
      font-size: 1.3em;
      box-sizing: border-box;
      line-height: 1.5;

      > a {
        text-decoration: underline;
        color: $white;
      }
    }

    > a {
      display: block;
      width: 100%;
      font-weight: $normal;
      margin: 0;
      padding: 18px;
      color: $white;
      text-transform: uppercase;
      font-size: 15px;
      text-align: center;
      box-sizing: border-box;
      transition: background .25s ease-in-out, color .25s ease-in-out;
      will-change: background, color;

      &:link,
      &:link,
      &:visited,
      &:active,
      &:focus {
        color: $white;
      }

      &:hover,
      &.active {
        background: $white;
        color: #35373c;
        text-decoration: none;
      }
    }
  }
}

.logo {
  background: url('#{$brandImages}logo.svg') no-repeat center / contain;
  width: $logoWidth;
  height: $logoHeight;
  border: 0;
  margin-right: auto;
  position: relative;

  @media #{$mobile} {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: $logoWidth_mobile;
    height: $logoHeight_mobile;
  }

  &.rinkeby::before {
    content: "RINKEBY";
    position: absolute;
    bottom: 0;
    color: $blackShade;
    left: 35px;
    text-align: center;
    font-size: 9px;
    letter-spacing: 11px;

    @media #{$mobile} {
      font-size: 8px;
      letter-spacing: 8px;
      left: 34px;
      right: 0;
    }
  }

  &.main::before {
    content: "BETA";
    position: absolute;
    bottom: 0;
    color: $greyTextDark;
    right: 0;
    text-align: center;
    font-size: 9px;
    letter-spacing: 2px;

    @media #{$mobile} {
      font-size: 8px;
      letter-spacing: 8px;
      left: 34px;
      right: 0;
    }
  }
}

.hamburger {
  background: transparent url('#{$images}berliner.svg') no-repeat center 0/ contain;
  width: 25px;
  height: 25px;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: relative;
  display: block;
  flex: 1;
  max-width: 25px;
  margin: 0;

  &::after {
    content: "MENU";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    font-size: 8px;
    color: $blackShade;
    font-weight: $normal;
    letter-spacing: 1px;
    font-family: $verdana;
  }
}

.menuWallet {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: 0;

  .mobileOpen {
    @media #{$mobile} {
      height: auto;
      opacity: 1;
      box-shadow: 0 999px 0 999px $modalColorOpacity;
    }
  }

  @media #{$mobile} {
    position: absolute;
    top: 59px;
    width: 100%;
    background: $greyBorder;
    right: 0;
    flex: none;
    max-width: initial;
    margin: 0;
    border-radius: 0;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &::after {
    content: " ";
    height: 22px;
    width: 1px;
    background: hsla(0,0%,100%,.25);
    margin: 0 7px 0 14px;
    display: inline-block;
    vertical-align: middle;

    @media #{$mobile} {
      display: none;
      content: none;
    }
  }

  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0 14px 0 0;
    height: 24px;
    font-size: 1em;
    font-style: normal;
    font-weight: $normal;
    color: $whiteShade;
    line-height: 1;
    border: 1px solid $greyBorder;
    border-radius: 25px;

    @media #{$mobile} {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      border: 0;
      border-radius: 0;
      margin: 0 15px;
      padding: 0 10px 0 0;
      font-size: 14px;
      align-items: center;
      align-content: center;
    }

    &::after {
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0;
      border-color: $blackShade transparent transparent;
      position: absolute;
      transition: all .3s ease-in-out;
      right: -16px;
      bottom: 8px;

      @media #{$mobile} {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
      }
    }
  }

  > span > small {
    background: $greyBorder;
    color: $blackShade;
    font-size: inherit;
    padding: 0 10px;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    line-height: 2;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;

    &:first-of-type {
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 25px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 25px;
      border-top-left-radius: 25px;

      @media #{$mobile} {
        width: 24px;
        padding: 0;
        margin: 0 5px 0 0;
      }
    }

    > img {
      max-width: 100%;
      object-fit: contain;
      height: inherit;
      margin: 0 6px;
    }

    &:first-of-type {
      min-width: 27px;
      max-width: 27px;
      padding: 4px 4px 4px 6px;

      @media #{$mobile} {
        min-width: 45px;
      }
    }

    > img {
      max-width: 100%;
    }

    @media #{$mobile} {
      box-sizing: border-box;
      border-radius: 0;
      width: auto;
      background: transparent;
      text-align: right;
    }
  }

  > span > code {
    padding: 5px 10px;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.5;
    background: transparent;
    color: $blackShade;
    font-family: inherit;

    @media #{$mobile} {
      width: auto;
      text-overflow: ellipsis;
      overflow: hidden;
      border-radius: 0;
      margin-right: auto;
      padding: 0;
      font-family: $mono;
      font-size: 13px;
    }
  }

  > div {
    height: 0;
    opacity: 0;
    position: absolute;
    top: 24px;
    background: $white;
    border-radius: 3px;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 99;
    cursor: default;
    min-width: calc(100% - 40px);
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    border: 2px solid transparent;
    max-height: 660px;
    overflow-y: auto;
    transition: height .2s ease-in-out, opacity .2s ease-in-out;
    will-change: height, opacity;

    @media #{$mobile} {
      position: absolute;
      width: 100%;
      top: 77px;
      box-sizing: border-box;
      border-radius: 0;
      padding-bottom: 50px;
    }
  }

  > div > span {
    padding: 20px 12px;
    display: flex;
    flex-wrap: wrap;
    background: $greyLight;
    cursor: pointer;

    &::after {
      content: "";
      background: url('#{$images}settings.svg') no-repeat center / contain;
      width: 12px;
      height: 12px;
      position: absolute;
      right: 12px;
      top: 12px;
    }
  }

  > div > span > img {
    background-color: $white;
    border-radius: 75px;
    width: 75px;
    height: 75px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
  }

  > div > span > p {
    width: 100%;
    text-align: center;
  }

  > div > span > p > strong {
    font-weight: bold;
    font-size: 1.3em;
    color: $brandPrimaryShade;
  }

  > div > span > p > i {
    font-weight: normal;
    font-style: normal;
    background: $brandPrimaryShade;
    color: $white;
    text-transform: uppercase;
    padding: 2px 8px;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 0 0 0 5px;
  }

  > div > span > code {
    font-size: 1.2em;
    color: $greyText;
    font-weight: bold;
    margin: 0 auto;

    @media #{$mobile} {
      font-size: 1.1em;
    }
  }

  > div > table {
    width: 100%;
    text-align: left;
    padding: 0;
    line-height: 1;
    font-weight: $normal;

    @media #{$mobile} {
      padding: 5px 12px 10px;
    }

    h5 {
      margin: 0;
    }

    tr {
      text-transform: uppercase;
      font-size: 12px;
      transition: background .2s ease-in-out, color .2s ease-in-out;
      will-change: background, color;

      > td:first-of-type {
        font-weight: bold;
        color: $blackShade;
      }

      @media #{$mobile} {
        font-size: 12px;
      }
    }

    tbody {
      color: $greyTextDark;

      &:nth-child(odd) {
        background: $greyLight;
      }

      tr {
        &:hover {
          background: $greyLight;
          color: $brandPrimaryShade;
        }
      }
    }

    thead {
      tr {
        font-size: 11px;
        font-weight: bold;
        color: $brandPrimaryShade;

        > th {
          border-bottom: 1px solid $greyBorder;
        }
      }
    }

    tbody, thead {
      th, td {
        padding: 6px;
      }

      td {
        > img {
          background: $orange;
          border-radius: 50px;
          height: 14px;
          width: 14px;
          padding: 2px;
          margin-left: 7px;
          cursor: pointer;
        }

        @media #{$mobile} {
          padding: 12px;
        }
      }

      .withPic {
        display: inline-flex;
        align-items: center;
      }
    }
  }

  &:hover > div {
    @media #{$medium-and-up} {
      height: auto;
      min-height: 150px;
      opacity: 1;
    }
  }

  &.active > div {
    @media #{$mobile} {
      height: calc(100vh - 59px);
      min-height: 50px;
      opacity: 1;
    }
  }

  &.active > span::after {
    content: "";
    transform: rotate(180deg);
  }
}

.menuAuctions {
  margin-left: 10px;
  font-size: 10px;
  color: $greyText;
  line-height: 1;
  font-style: normal;
  position: relative;
  cursor: pointer;
  height: 24px;
  font-weight: $bold;
  outline: 0;


  .mobileOpen {
    @media #{$mobile} {
      height: auto;
      opacity: 1;
      visibility: initial;
    }
  }

  @media #{$mobile} {
    margin: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &::before {
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0;
      border-color: $blackShade transparent transparent;
      position: absolute;
      right: -12px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &.active::before {
      transform: rotate(180deg);
    }

    &[data-unclaimed="true"]::after {
      background: $orange url('#{$images}claim.svg') no-repeat center / 14px;
      border-radius: 20px;
      box-sizing: border-box;
      border: 0;
      cursor: pointer;
      width: 20px;
      height: 16px;
      padding: 0 5px;
      display: block;
      margin: 0;
      letter-spacing: 0;
      content: " ";
      position: absolute;
      left: 0;
      bottom: -8px;
    }
  }

  &::after {
    content: " ";
    display: inline-block;
    height: 22px;
    width: 1px;
    background: rgba(255, 255, 255, 0.25);
    vertical-align: middle;
    margin: 0 15px 0 10px;

    @media #{$mobile} {
      display: none;
    }
  }

  > strong {
    font-weight: $bold;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: auto 0;
    position: relative;
    padding: 0 15px 0 0;

    @media #{$mobile} {
      display: none;
    }

    &::before {
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0;
      border-color: $blackShade transparent transparent;
      position: absolute;
      right: -4px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  > strong.claimable {
    margin: -13px auto 0;

    &::before {
      top: 16px;
    }
  }

  &[data-unclaimed="true"] > strong::after {
    content: "CLAIM";
    background: $orange url('#{$images}claim.svg') no-repeat 51px / 12px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 0;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 12px;
    line-height: 12px;
    font-size: 8px;
    letter-spacing: 4px;
    padding: 0 0 0 6px;
    display: block;
    margin: 2px 0 0;
  }

  > span {
    position: absolute;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 11px;
    margin: -11px 0 0 26px;
    background: $orange;
    color: $white;
    border-radius: 50px;

    > img {
      padding: 0 1px;
      width: 12px;

      @media #{$mobile} {
        padding: 3px;
        width: 14px;
      }
    }

    > span {
      font-size: 9px;
      font-weight: $bold;
      letter-spacing: 2px;
      padding: 0 1px;

      @media #{$mobile} {
        display: none;
      }
    }

    @media #{$mobile} {
      position: relative;
      margin: auto;
      width: auto;
      height: auto;
    }
  }

  > img {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
    display: inline-block;
  }

  > div {
    // display: none;
    height: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 24px;
    background: $white;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    z-index: 99;
    cursor: default;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    border: 2px solid transparent;
    // min-height: 120px;
    max-height: 660px;
    overflow-y: auto;
    transition: height .2s ease-in-out, opacity .2s ease-in-out;
    will-change: height, opacity;

    @media #{$mobile} {
      left: 50%;
      position: fixed;
      width: 100%;
      top: 59px;
      padding: 0 0 5px;
      box-sizing: border-box;
      border-radius: 0;
      border: 0;
    }
  }

  > div > table {
    width: 100%;
    text-align: left;
    padding: 0;
    line-height: 1;

    @media #{$mobile} {
      padding: 15px 15px 10px;
    }

    tr {
      color: $blackShade;
      text-transform: uppercase;
      font-size: 11px;
      // cursor: pointer;
      transition: background .2s ease-in-out, color .2s ease-in-out;
      will-change: background, color;
    }

    td > p {
      padding: 0;
      margin: 0;
      text-align: right;
      line-height: 1.5;
    }

    thead {
      tr {
        font-size: 10px;
        font-weight: $bold;
        color: $brandPrimaryShade;

        > th {
          border-bottom: 1px solid $greyBorder;
        }
      }
    }

    tbody {
      &:nth-child(odd) {
        background: $greyLight;
      }

      tr {
        &:hover {
          background: $greyBorder;
        }
      }
    }

    thead, tbody {
      th, td {
        padding: 6px;
        text-align: center;
      }

      td {
        height: 30px;

        @media #{$mobile} {
          height: 46px;
        }

        &:last-of-type {
          min-width: 100px;
          text-align: center;
        }
      }

      td img {
        background: $orange;
        border-radius: 50px;
        height: 14px;
        width: 14px;
        padding: 2px;
      }
    }
  }

  &:hover > div {
    @media #{$medium-and-up} {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  &.active > div {
    @media #{$mobile} {
      height: calc(100vh - 59px);
      width: 100vw;
      opacity: 1;
      visibility: visible;
      max-height: initial;
    }
  }
}

.sectionLink {
  font-weight: bold;
}

.menuFeeBalance {
  font-size: 10px;
  font-weight: bold;
  color: $blackShade;
  line-height: 1;
  height: 24px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  @media #{$mobile} {
    position: absolute;
    top: 104px;
    background: #c0c4cc;
    width: 100%;
    left: 0;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 32px;
    color: $blackShade;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
  }

  &::after {
    content: " ";
    display: inline-block;
    height: 22px;
    width: 1px;
    background: rgba(255, 255, 255, 0.25);
    vertical-align: middle;
    margin: 0 15px 0 10px;

    @media #{$mobile} {
      content: none;
      display: none;
    }
  }

  > p {
    flex: 1;
    font-weight: $normal;
    margin: 0;
    min-width: 46px;
    text-transform: capitalize;
    // word-wrap: break-word;

    @media #{$mobile} {
      min-width: initial;
      text-align: left;
      margin: 0;
    }

    // &:first-child {
    //   margin: 0 12px 0 0;

    //   @media #{$mobile} {
    //     margin: 0;
    //   }
    // }

    &:last-child {
      @media #{$mobile} {
        text-align: right;
      }
    }

    > a {
      color: inherit;

      > strong {
        display: block;

        @media #{$mobile} {
          display: inline-block;
        }
      }
    }
  }

  > p > strong {
    letter-spacing: 1px;
    display: block;

    @media #{$mobile} {
      display: inline-block;
    }
  }
}
