@import "./src/styles/core/_variables";
@import "./src/styles/core/_base";
@import "./src/styles/core/_helper";
@import "./src/styles/core/_fonts";

header {
  height: 60px;
  width: 100%;
  background: 0;
  display: flex;
  align-items: center;
  max-width: $max-width;
  margin: 0 auto auto;
  z-index: 99;

  @media #{$mobile} {
    border-bottom: 1px solid #5386b3;
    max-width: 100vw;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto 74px;
    background: $darkBlue;
    border: 0;
  }

  &.solid-background {
    margin: 0 auto;
    background: $darkBlue;
    max-width: initial;
    padding: 0 0 20px;
    width: 100%;

    @media #{$mobile} {
      margin: 0 auto 74px;
      padding: 0 16px;
    }

    > div {
      max-width: $max-width;
    }
  }

  > div {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin: 10px auto 0;
    padding: 0 30px;

    @media #{$tablet} {
      padding: 0 35px;
    }

    @media #{$mobile} {
      justify-content: space-between;
      margin: 0 auto;
      height: 100%;
      align-items: center;
      padding: 0;
    }
  }

  > div > span {
    margin: 0 0 0 15px;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
  }

  > div > .navParent {
    .buttonExit {
      position: absolute;
      top: 15px;
      right: 15px;
      height: 40px;
      width: 40px;
    }
  }

  > div > .navParent > nav {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    visibility: hidden;
    width: 240px;
    position: fixed;
    top: 0;
    height: 100%;
    right: 0;
    background: #35373c;
    box-shadow: 0 100vh 0 100vw rgba(26,73,119,.9);
    z-index: 9999;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    will-change: transform, opacity;
    padding: 75px 0 0;
    overflow-y: auto;

    @media #{$tablet} {
      box-shadow: 0 999px 0 999px rgba(26,73,119,.9);
    }

    @media #{$mobile} {
      width: 100%;
      padding: 75px 12px;
      box-sizing: border-box;
    }

    &.show {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
    }

    > .buttonExit {
      left: 0;
      right: 0;
      margin: auto;
      background: $white;
      width: 100%;
      top: 0;
      height: 54px;
      font-size: 32px;
    }

    > a {
      display: block;
      width: 100%;
      font-weight: $normal;
      margin: 0;
      padding: 18px;
      color: $white;
      text-transform: uppercase;
      font-size: 15px;
      text-align: center;
      box-sizing: border-box;
      transition: background .25s ease-in-out, color .25s ease-in-out;
      will-change: background, color;

      &:link,
      &:link,
      &:visited,
      &:active,
      &:focus {
        color: $white;
      }

      &:hover,
      &.active {
        background: $white;
        color: #35373c;
        text-decoration: none;
      }
    }
  }
}

.logo {
  background: url('#{$images}dutchx_logo.svg') no-repeat center / contain;
  width: 130px;
  height: 35px;
  border: 0;
  margin-right: auto;

  @media #{$mobile} {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 90px;
    height: 18px;
  }
}

.hamburger {
  background: transparent url('#{$images}berliner.svg') no-repeat center 0/ contain;
  width: 25px;
  height: 25px;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: relative;
  display: block;
  flex: 1;
  max-width: 25px;
  margin: 0;

  &::after {
    content: "MENU";
    display: block;
    position: absolute;
    bottom: -2px;
    left: -1px;
    font-size: 8px;
    color: white;
    font-weight: $bold;
    letter-spacing: 1px;
    font-family: $montserrat;
  }
}

.menuWallet {
  position: relative;
  cursor: pointer;

  @media #{$mobile} {
    position: absolute;
    top: 59px;
    width: 100%;
    background: #205790;
    right: 0;
    flex: none;
    max-width: initial;
    margin: 0;
    border-radius: 0;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &::after {
    content: " ";
    height: 22px;
    width: 1px;
    background: hsla(0,0%,100%,.25);
    margin: 0 7px 0 14px;
    display: inline-block;
    vertical-align: middle;

    @media #{$mobile} {
      display: none;
      content: none;
    }
  }

  > span {
    font-size: 10px;
    font-style: normal;
    font-weight: $normal;
    line-height: 1;
    color: $white;
    border: 1px solid $white;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
    position: relative;
    margin: 0 14px 0 0;

    @media #{$mobile} {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      border: 0;
      border-radius: 0;
      color: $darkBlue;
      margin: 0 15px;
      padding: 0 10px 0 0;
      font-size: 14px;
      align-items: center;
      align-content: center;
    }

    &::after {
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0;
      border-color: $white transparent transparent;
      position: absolute;
      transition: all .3s ease-in-out;
      right: -16px;
      bottom: 8px;

      @media #{$mobile} {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
      }
    }
  }

  > span > small {
    display: inline-block;
    background: $white;
    border-radius: 0 3px 3px 0;
    color: $darkBlue;
    font-size: inherit;
    padding: 6px 6px 6px 7px;
    text-align: center;

    @media #{$mobile} {
      box-sizing: border-box;
      color: $white;
      border-radius: 0;
      width: auto;
      background: transparent;
      text-align: right;
    }
  }

  > span > code {
    padding: 5px 10px;
    display: inline-block;
    font-size: 11px;
    background: transparent;
    color: white;
    font-family: inherit;

    @media #{$mobile} {
      width: auto;
      text-overflow: ellipsis;
      overflow: hidden;
      border-radius: 0;
      color: $white;
      padding: 0;
      font-family: $mono;
      font-size: 13px;
    }
  }

  > div {
    height: 0;
    opacity: 0;
    position: absolute;
    top: 24px;
    background: $white;
    border-radius: 3px;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 99;
    cursor: default;
    width: calc(100% - 24px);
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    border: 2px solid transparent;
    max-height: 660px;
    overflow-y: auto;
    transition: height .2s ease-in-out, opacity .2s ease-in-out;
    will-change: height, opacity;

    @media #{$mobile} {
      position: fixed;
      width: 100%;
      top: 105px;
      box-sizing: border-box;
      border-radius: 0;
    }
  }

  > div > table {
    width: 100%;
    text-align: left;
    font-size: 12px;
    padding: 0;
    line-height: 1;
    font-weight: bold;

    @media #{$mobile} {
      padding: 5px 12px 50px;
    }

    tr {
      text-transform: uppercase;
      font-size: 11px;
      // cursor: pointer;
      transition: background .2s ease-in-out, color .2s ease-in-out;
      will-change: background, color;

      @media #{$mobile} {
        font-size: 12px;
      }
    }

    tbody {
      color: $grey;

      &:nth-child(odd) {
        background: $greyLight;
      }

      tr {
        &:hover {
          background: #f2f3f5;
          color: $darkBlue;
        }
      }
    }

    thead {
      tr {
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: $bold;
        color: $darkBlue;

        > th {
          border-bottom: 1px solid $greyBorder;
          letter-spacing: 2px;
        }
      }
    }

    tbody, thead {
      th, td {
        padding: 6px;
      }

      td {
        @media #{$mobile} {
          padding: 12px;
        }
      }
    }
  }

  &:hover > div {
    @media #{$medium-and-up} {
      height: auto;
      min-height: 50px;
      opacity: 1;
    }
  }

  &.active > div {
    @media #{$mobile} {
      height: calc(100vh - 59px);
      min-height: 50px;
      opacity: 1;
    }
  }

  &.active > span::after {
    content: "";
    transform: rotate(180deg);
  }
}

.menuAuctions {
  margin-left: 10px;
  font-size: 10px;
  color: $white;
  line-height: 1;
  font-style: normal;
  position: relative;
  cursor: pointer;
  height: 24px;
  font-weight: $bold;

  @media #{$mobile} {
    margin: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &::before {
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0;
      border-color: $white transparent transparent;
      position: absolute;
      right: -10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &.active::before {
      transform: rotate(180deg);
    }

    &[data-unclaimed="true"]::after {
      background: $orange url('#{$images}claim.svg') no-repeat center / 14px;
      border-radius: 20px;
      box-sizing: border-box;
      border: 0;
      cursor: pointer;
      width: 20px;
      height: 16px;
      padding: 0 5px;
      display: block;
      margin: 0;
      letter-spacing: 0;
      content: " ";
      position: absolute;
      left: 0;
      bottom: -8px;
    }
  }

  &::after {
    content: " ";
    display: inline-block;
    height: 22px;
    width: 1px;
    background: rgba(255, 255, 255, 0.25);
    vertical-align: middle;
    margin: 0 15px 0 10px;

    @media #{$mobile} {
      display: none;
    }
  }

  > strong {
    font-weight: $bold;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: auto 0;
    position: relative;
    padding: 0 15px 0 0;

    @media #{$mobile} {
      display: none;
    }

    &::before {
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0;
      border-color: $white transparent transparent;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  > strong.claimable {
    margin: -13px auto 0;

    &::before {
      top: 16px;
    }
  }

  &[data-unclaimed="true"] > strong::after {
    content: "CLAIM";
    background: $orange url('#{$images}claim.svg') no-repeat 51px / 12px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 0;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 12px;
    line-height: 12px;
    font-size: 8px;
    letter-spacing: 4px;
    padding: 0 0 0 6px;
    display: block;
    margin: 2px 0 0;
  }

  > span {
    position: absolute;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 11px;
    margin: -11px 0 0 26px;
    background: $orange;
    border-radius: 50px;

    > img {
      padding: 0 1px;
      width: 12px;

      @media #{$mobile} {
        padding: 3px;
        width: 14px;
      }
    }

    > span {
      font-size: 9px;
      font-weight: $bold;
      letter-spacing: 3px;
      padding: 0 1px;

      @media #{$mobile} {
        display: none;
      }
    }

    @media #{$mobile} {
      position: relative;
      margin: auto;
      width: auto;
      height: auto;
    }
  }

  > img {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
    display: inline-block;
  }

  > div {
    // display: none;
    height: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 24px;
    background: $white;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    z-index: 99;
    cursor: default;
    left: -25%;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    border: 2px solid transparent;
    max-height: 660px;
    overflow-y: auto;
    transition: height .2s ease-in-out, opacity .2s ease-in-out;
    will-change: height, opacity;

    @media #{$mobile} {
      left: 0;
      position: fixed;
      width: 100%;
      top: 59px;
      padding: 0 0 100px;
      box-sizing: border-box;
      border-radius: 0;
      border: 0;
    }
  }

  > div > table {
    width: 100%;
    text-align: left;
    font-size: 12px;
    padding: 0;
    line-height: 1;

    @media #{$mobile} {
      padding: 15px 15px 50px;
    }

    tr {
      color: black;
      text-transform: uppercase;
      font-size: 11px;
      cursor: pointer;
      transition: background .2s ease-in-out, color .2s ease-in-out;
      will-change: background, color;
    }

    td > p {
      padding: 0;
      margin: 0;
      text-align: right;
      line-height: 1.5;
    }

    thead {
      tr {
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: $bold;
        color: $darkBlue;

        > th {
          border-bottom: 1px solid $greyBorder;
          letter-spacing: 2px;
        }
      }
    }

    tbody {
      &:nth-child(odd) {
        background: $greyLight;
      }

      tr {
        &:hover {
          background: $greyBorder;
        }
      }
    }

    thead, tbody {
      th, td {
        padding: 6px;
        text-align: center;
      }

      td {
        height: 30px;

        @media #{$mobile} {
          height: 46px;
        }

        &:last-of-type {
          text-align: center;
        }
      }

      td img {
        background: $orange;
        border-radius: 50px;
        height: 14px;
        width: 14px;
        padding: 2px;
      }
    }
  }

  &:hover > div {
    @media #{$medium-and-up} {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  &.active > div {
    @media #{$mobile} {
      height: calc(100vh - 59px);
      width: 100vw;
      opacity: 1;
      visibility: visible;
      max-height: initial;
    }
  }
}

.menuFeeBalance {
  font-size: 10px;
  font-weight: bold;
  color: $white;
  line-height: 1;
  height: 24px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;

  @media #{$mobile} {
    position: absolute;
    top: 104px;
    background: $greyLight;
    width: 100%;
    left: 0;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 32px;
    color: $darkBlue;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
    border-top: 1px solid $white;
    display: flex;
  }

  &::after {
    content: " ";
    display: inline-block;
    height: 22px;
    width: 1px;
    background: rgba(255, 255, 255, 0.25);
    vertical-align: middle;
    margin: 0 15px 0 10px;

    @media #{$mobile} {
      content: none;
      display: none;
    }
  }

  > p {
    flex: 1;
    margin: 0;
    text-transform: capitalize;
    word-wrap: break-word;
    min-width: 50px;

    @media #{$mobile} {
      min-width: initial;
      text-align: left;
      margin: 0;
    }

    &:first-child {
      margin: 0 12px 0 0;

      @media #{$mobile} {
        margin: 0;
      }
    }

    &:last-child {
      @media #{$mobile} {
        text-align: right;
      }
    }
  }

  > p > strong {
    letter-spacing: 1px;
    display: block;

    @media #{$mobile} {
      display: inline-block;
    }
  }
}
