@import "../../less/vars.less";

@expandable-arrow-size: 15px;
@expandable-margin: 40px;

.marketDetails .outcomes {
  margin-bottom: 40px;
}

.marketInfos {
  text-align: left;
  margin-top: 40px;
  position: relative;

  @media(min-width: @screen-sm) {
    text-align: right;
    margin-top: 0;
  }
}

.marketInfo__info {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0; //just until we use real names
  margin-bottom: 20px;
  @media(min-width: @screen-sm) { //just until we use real names
    padding-left: 100px; //just until we use real names
  } //just until we use real names
}

.marketInfo__info--value {
  font-size: 15px;
  color: @font-color-dark;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 2px;
}

.marketInfo__info--label {
  text-transform: uppercase;
  color: @font-color-dark;
  font-size: 10px;
  opacity: .6;
  letter-spacing: .5px;
}

.marketTitle__heading {
  margin: @page-heading-margins;
}

.marketDescription {
  margin-bottom: 40px;
}

.marketDescription__text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .25px;
  font-weight: 300;
}

.marketTimer {
  margin-top: 12px;
  margin-bottom: 12px;
}

.marketTimer__live {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.2;
  @media(min-width: @screen-sm) {
    font-size: 28px;
  }
}

.marketTime__absolute {
  color: @font-color-dark;
  opacity: .6;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.marketControls.container {
  padding-top: 40px;
}

.marketControls__button {
  margin-right: 20px;
}


.marketControls__button--active {
  &:after {
    content: '';
    position: absolute;
    bottom: -@expandable-margin;
    left: 50%;
    margin-left: -@expandable-arrow-size;
    width: 0;
    height: 0;
    border-left: @expandable-arrow-size solid transparent;
    border-right: @expandable-arrow-size solid transparent;
    border-bottom: @expandable-arrow-size solid @bg-color-muted;
  }
}


.marketGraph__container {
  width: 100%;
  height: 100%;
}
.marketGraph {
  width: 100%;
  min-height: 400px;
  padding: 120px 0;
  height: 60vh;
  background-color: @bg-color-dark;
  color: @font-color-dark;
}

.expandable {
  position: relative;
  z-index: 2;
  margin-top: @expandable-margin;
  &__inner {
    padding: 40px 0;
    background-color: @bg-color-muted;

    &::before {
      visibility: visible;
      content: '';
      position: absolute;
      margin-bottom: 50px;
    }
  }
}

@detailBadgesSize: 64px;

.redeemWinning, .withdrawFees {
  margin: 12px 0;

  &__icon {
    width: @detailBadgesSize;
    height: @detailBadgesSize;

    position: relative;
    float: left;
  }

  &__details {
    float: left;
    padding-left: 10px;
    height: @detailBadgesSize;
  }

  &__heading {
    font-size: 30px;
  }

  &__label {
    text-transform: uppercase;
    color: @font-color-muted;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .5px;
  }

  &__action {
    display: inline-block;
    float: right;
    padding-right: 50px;
    height: @detailBadgesSize;

    .btn {
      height: 100%;
      text-align: right;
      float: right;
    }
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
