$defaultTokenSize: 70px 90px;
$defaultTokenSize_mobile: 36px 70px;

[data-coin] {
  border: 1px solid $greyBorder;
  will-change: border;
  transition: border .2s ease-in-out;
  height: 150px;
  width: 150px;
  display: block;
  border-radius: 150px;
  margin: 20px auto;
  background-size: $defaultTokenSize;
}

[data-coin="ETH"] {
  background: url('#{$images}tokens/ETH.svg') no-repeat center / $defaultTokenSize;
}

[data-coin="WETH"] {
  background: url('#{$images}tokens/WETH.svg') no-repeat center / $defaultTokenSize;
}

[data-coin="GNO"] {
  background: url('#{$images}tokens/GNO.svg') no-repeat center / 118px 138px;
}

[data-coin="RDN"] {
  background: url('#{$images}tokens/RDN.svg') no-repeat center / $defaultTokenSize;
}

[data-coin="REP"] {
  background: url('#{$images}tokens/REP.svg') no-repeat center / $defaultTokenSize;
}

[data-coin="1ST"] {
  background: url('#{$images}tokens/1ST.png') no-repeat center / $defaultTokenSize;
}

[data-coin="OMG"] {
  background: url('#{$images}tokens/OMG.svg') no-repeat center / $defaultTokenSize;
}

[data-coin="GNT"] {
  background: url('#{$images}tokens/GNT.svg') no-repeat center / $defaultTokenSize;
}

[data-coin="DAI"] {
  background: url('#{$images}tokens/DAI.svg') no-repeat center / $defaultTokenSize;
}

[data-coin="GEN"] {
  background: url('#{$images}tokens/GEN.svg') no-repeat center / $defaultTokenSize;
}

[data-coin="KNC"] {
  background: url('#{$images}tokens/KNC.svg') no-repeat center / 150px 138px;
}

[data-coin="MKR"] {
  background: url('#{$images}tokens/MKR.svg') no-repeat center / $defaultTokenSize;
}

[data-coin="DEFAULT_TOKEN"] {
  background: url('#{$images}tokens/DEFAULT_TOKEN.svg') no-repeat center / $defaultTokenSize;
}

[data-coin="TOKEN_LIST"] {
  background: $greyBorder url('#{$images}tokens/TOKEN_LIST.svg') no-repeat center / $defaultTokenSize;
}


// Mobile, placing it here to override, until code is re-structured:
[data-coin] {
  @media #{$mobile} {
    border-radius: 90px;
    height: 90px;
    width: 90px;
    background-size: $defaultTokenSize_mobile;
  }
}

[data-coin="GNO"] {
  @media #{$mobile} {
    background-size: 66px 100px;
  }
}
