.txPanel {
  display: flex;
  flex-flow: column;
  position: fixed;
  align-items: center; justify-content: center;
  
  bottom: 0;
  border-radius: 0 50px 50px 0;
  height: 100vh;
  min-width: 50px; min-height: 50px;
  padding: 0 15px;
  z-index: 2000;
  
  background: #ffffffde;
  color: black;
  font-size: 16px;
  line-height: 1;
  
  cursor: pointer;

  transition: all 0.3s linear;

  &.closed {
    height: 50px;
    overflow: hidden;
  }
}
